* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, #17a3de, #33459b, #c02290);
    color: #fff;
}

.header__item {
    padding: 10px;
    margin-top: 20px;
}

.text {
    width: 30%;
}

.header__text {
    padding: 10px;
    margin-top: 10%;
    margin-left: 5%;
}

.header__title {
    font-size: 32px;
    font-weight: bold;
}

.header__sub {
    margin-top: 6px;
    font-size: 22px;
    font-weight: medium;
}

.header__contact {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.header__contact div {
    margin: 5px;
}

.skills {
    width: 70%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__skills {
    width: 40%;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

.header__skills ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 20px;
}

.header__skills ul li {
    padding: 4px;
}

@media screen and (max-width: 986px) {
    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .text {
        width: 100%;
    }
    .skills {
        width: 100%;
    }
    .header__contact {
        margin-right: 50px;
    }
}

@media screen and (max-width: 658px) {
    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .text {
        width: 100%;
    }
    .skills {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__skills {
        width: 90%;
    }
}

@media screen and (min-width: 1622px) {
    .header__title {
        font-size: 62px;
        font-weight: bold;
    }
    .header__sub {
        margin-top: 6px;
        font-size: 54px;
        font-weight: medium;
    }
}